@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-layout-sider-trigger {
  background-color: #f0f2f5;
  color: black;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: transparent !important;
}

.ant-layout-header {
  padding: 0 10px !important;
}

.ant-card-head {
  background-color: #ebebeb !important;
}

#mapsidebar.ant-layout-sider {
  min-width: 250px !important;
}

#mapsidebar.ant-layout-sider-collapsed {
  min-width: 0.1px !important;
  max-width: 0.1px !important;
}

.mapboxgl-marker {
  cursor: auto;
}

.ant-carousel .slick-slider .slick-list {
  width: 100% !important;
  height: 400px !important;
  overflow: hidden;
}
